{% extends "/templates/admin.php.twig" %}

{% block title %}Editar categoría {{category.name}}{% endblock %}

{% block name %}Editar categoría {{category.name}}{% endblock %}
{% block content %}
    <div class="max-w-lg mx-auto bg-white rounded-2xl p-8">
        <form action="/admin/categories/edit/{{ category.id }}" method="POST" enctype="multipart/form-data" class="flex flex-col gap-4">
            <div>
                <label for="name" class="block text-gray-700 text-sm font-bold mb-2">Nombre</label>
                <input type="text" id="name" name="name" required value="{{ category.name }}" class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline">
            </div>
            <div>
                <label for="image" class="block text-gray-700 text-sm font-bold mb-2">Imagen</label>
                <file-upload id="categoryImageUpload" name="image" class="w-full" accept-image="true" accept-video="false" image-aspect-ratio="1:1" min-image-width="256" min-image-height="256" existing-image="{{ category.getImagePath() }}"></file-upload>
            </div>
            <button type="submit" class="btn primary flex items-center gap-2"><i data-feather="save"></i> Guardar cambios</button>
        </form>
    </div>
{% endblock %}

{% block scripts %}
    <script src="/assets/js/components/fileUpload.js"></script>
    <script>
        document.getElementById('editCatForm').addEventListener('submit', function(event) {
            // Permite enviar el formulario con o sin imagen nueva
            if (document.getElementById('imgUpload').getFileInput()) {
                event.preventDefault();
                if (!document.getElementById('name').value) {
                    alert('Por favor ingresa el nombre de la categoría.');
                    return;
                }
                const formData = new FormData();
                formData.append('name', document.getElementById('name').value);
                if (document.getElementById('imgUpload').getFileInput()[0]) {
                    formData.append('image', document.getElementById('imgUpload').getFileInput()[0]);
                }
                $.ajax({
                    url: '/admin/categories/edit/{{category.id}}',
                    type: 'POST',
                    data: formData,
                    processData: false,
                    contentType: false,
                    success: function(response) {
                        window.location.href = '/admin/categories';
                    },
                    error: function(xhr) {
                        alert('Error al guardar los cambios.');
                    }
                });
            }
        });
    </script>
{% endblock %}