{% extends "/templates/admin.php.twig" %}

{% block title %}Productos Compuestos{% endblock %}

{% block name %}Productos Compuestos{% endblock %}
{% block content %}
    <div class="flex flex-col h-full">
        <div class="flex items-center justify-end mb-4">
            <a href="/admin/composed/add" class="btn primary">Añadir producto compuesto</a>
        </div>
        <div class="overflow-x-auto">
            <table class="min-w-full bg-white border border-gray-200 rounded-lg shadow-lg">
                <thead>
                    <tr class="bg-gray-100 text-gray-600 uppercase text-sm leading-normal">
                        <th class="py-3 px-6 text-left">ID</th>
                        <th class="py-3 px-6 text-left">Nombre</th>
                        <th class="py-3 px-6 text-left">Precio</th>
                        <th class="py-3 px-6 text-left">Productos Incluidos</th>
                        <th class="py-3 px-6 text-left">Acciones</th>
                    </tr>
                </thead>
                <tbody class="text-gray-600 text-sm font-light">
                    {% for composed in composedProducts %}
                        <tr class="border-b border-gray-200 hover:bg-gray-100">
                            <td class="py-3 px-6 text-left">{{ composed.id }}</td>
                            <td class="py-3 px-6 text-left">{{ composed.name }}</td>
                            <td class="py-3 px-6 text-left">{{ composed.price|number_format(2, '.', ',') }}</td>
                            <td class="py-3 px-6 text-left">
                                {% if composed.getChildren() is not empty %}
                                    <ul class="ml-4">
                                    {% for group in composed.getChildren() %}
                                        <li class="mb-2 list-disc" >
                                            {% if group.type == "product" %}
                                                Producto: {{ group.object.name }}
                                            {% elseif group.type == "category" %}
                                                Categoría: {{ group.object.name }}
                                            {% elseif group.type == "group" %}
                                                Productos: 
                                                {% for product in group.items %}
                                                    {{ product.object.name }}{% if not loop.last %}, {% endif %}
                                                {% endfor %}
                                            {% endif %}
                                        </li>
                                    {% endfor %}
                                    </ul>
                                {% else %}
                                    <span class="text-gray-400">Ninguno</span>
                                {% endif %}
                            </td>
                            <td class="py-3 px-6 text-left">
                                <a href="/admin/composed/edit/{{ composed.id }}" class="btn secondary">Editar</a>
                                <a href="/admin/composed/delete/{{ composed.id }}" class="btn danger ml-4">Eliminar</a>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}